<div class="container" ng-controller="homeController" background="landing-background.jpg">
  <div class="center-form panel">
          <div class="panel-body" style="width:400px; height:400px; margin:10 px auto; ">
          <h4> <i class="ion-log-in"></i> Welcome to Github users </h4>
            <br>
          <img class="logoImg" src="GitHub-Logo.png" alt="GitHub" />
          <br>
         <h4>Here you can find millions of github users and see there contributions</h4>
      </div>
  </div>
</div>
  


