<div ng-controller="usersController">
	<div class="col-md-2 col-sm-2">
	    <div class="panel panel-default side-panel">
	        
	        <div class="panel-heading text-center" style="padding:6px;">
	        	<h5 style="margin:0px;">Users List</h5>
	        </div>

	        <div class="panel-body">
	          <ul class="list-unstyled">
	            <li ng-repeat="info in details | limitTo:limit">
	            	{{info.id}}
	            	<a href="#/users/{{info.id}}" >{{info.login}}</a>
	            <img src="{{info.avatar_url}}}" style='height:25%;width:25%;display:inline;object-fit: contain' />
	            </li>
	          </ul>
	        </div>

	        <div class="panel-footer text-center">
	          <button class="btn btn-info btn-block" style="background-color:#16a085; border-color:transparent;"  ng-click="loadmore()">Load more...</button>
	        </div>

	    </div>
	    
	
    </div>
    <div></div>
</div>
<!--    
<div class="col-md-8 col-sm-8">
      <div><h3>{{information.login}}</h3></div>
      <div>{{information.id}}</div>
 
    </div>

    
</div>
ng-include="'views/userdetails.html'"-->
